body{
    font-size: 25px;
    background-color: rgb(255, 243, 225);
}
h1{
    text-align: center;
    font-size: 40px;
    padding: 80px;
}
img{
    width: 100%;
    padding: 10px;
}
.a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    background-color: rgb(255, 255, 255);
    margin: 30px 80px 30px 80px;
}
a{
    text-decoration: none;
    color: rgb(54, 176, 216);
}